// src/styles/settings/_fonts.scss
// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "Cairo", sans-serif;
  direction: ltr;
}

// For Arabic text specifically:
[lang="ar"],
.ar {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
